@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #000000;
  color: #00ff00;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
}

header {
  padding: 10px;
  text-align: center;
}

textarea {
  width: 75%;
}

h1 {
  font-size: 2em;
}

p {
  margin: 10px 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 2px;
  text-align: left;
}

.error {
  font-size: 14px;
  color: #FF0;
}
